a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    position: relative;
}
#accordion .panel:before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border: 1px dashed #6e8898;
    top: 25px;
    left: 18px;
    position: absolute;
}
#accordion .panel:last-child:before{ display: none; }
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 10px 30px 10px 60px;
    margin: 0;
    background: #fff;
    font-size: 14px;
    font-weight: 800;
    color: #1d3557;
    letter-spacing: 1px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 40px;
    height: 100%;
    line-height: 40px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    background: #df8d12;
    border-radius: 3px;
    border: 1px solid #df8d12;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
    
    border: 3px solid #FFF;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
#accordion .panel-title a.collapsed:before{
    content: "\f105";
    color: #df8d12;
    background: black;
    border: 2px solid #df8d12;
    top:0;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
#accordion .panel-body{
    /* padding: 40px 20px 30px; */
    margin-left: 35px;
    border-top: none;
   /*  background: #df8d12; */
    font-size: 15px;
    color: eee;
    line-height: 20px;
    letter-spacing: 1px;
/*     -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
}
/* @media only screen and (max-width: 480px){
    #accordion .panel-body{ padding: 50px 10px; }
} */

#accordion .panel-body p{
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
     background-color:#ecb056; 
}