@charset "UTF-8";

@import "jquery/jquery-ui.min.css";
@import "bootstrap/bootstrap.min.css";

.message-box{

  background: #F5F5F5;
  border: 3px solid #FFF;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 15px;
}

.messages .item .text .heading .date, .date1 {
  float: right;
  line-height: 20px;
  font-size: 11px;
  color: #CCC;
  font-weight: 600;
} 



/* read more */
.morecontent span {
  display: none;
}


.morelink{
  float:right;
  margin-right: 10px;
}

a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
#accordion .panel{
  border: none;
  box-shadow: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
#accordion .panel-heading{
  padding: 0;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
}
#accordion .panel-title a{
  display: block;
  padding: 20px;
  padding-top:5px;
  padding-bottom:40px;
  font-size: 20px;
  font-weight: 600;
  color: #696969;
  background: #DCDCDC;
  border: none;
  position: relative;
  transition: all 0.3s ease 0s;

  border: 3px solid #FFF;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}


#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 65px;
  height: 65px;
  line-height: 32px;
  border-radius: 50%;

  margin-right: 5px;
  content: "";
  background: url("1.jpg") no-repeat 0 0;
  background-size: 100%; 
  text-align: center;
  font-size: 15px;
  color:#fff;
  border: 5px solid #fff;
  position: absolute;
  top: 2.5px;
  left: -20px;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:after{

  width: 60px;
  height: 60px;
  margin-right: 5px;
  content: "";
  background: url("1.jpg") no-repeat 0 0;
  background-size: 100%; 
}
#accordion .panel-title a:hover:after,
#accordion .panel-title a.collapsed:hover:after{
  transform: rotate(360deg);
}
#accordion .panel-body{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  font-size: 14px;
  color: #8c8c8c;
}

#spanTitle{
  top: 15px;
  margin-left: 30px;
  position: relative;

}